
main {
    margin-top: 60px;
    // padding-top: 20px;
}
.rightSide {
    background-color: #343A3F;
    color: #e9e9e9;
}
.col-3 {
    background-color: #e9e9e9;
}

.displayTodoItem {
    background-color: #343A3F;
    border-radius: 10px;
    width: 100%;
    padding: 1em;
    margin: 1em auto;
    color: #e9e9e9;

    display: flex;
    justify-content: space-between;
}

.displayTodoItem:hover {
    background-color: grey;
}

.icon {
    padding: 5px;
}

.edit:hover {
    background-color: #343A3F;
    border-radius: 10px;
}
.delete {
    background-color: #e9e9e9;
    border-radius: 10px;
}
.delete:hover {
    background-color: #343A3F;
    border-radius: 10px;
}

.displayTodoTittle {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.newTodo {
    width: 100%;
}